.photo_table
{
    clear: both;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}
.photo_table tr td 
{
    font-style: italic;
    text-align: center;
}

.winner_pic
{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
