@charset "utf-8";


.see_points
{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 4px;
    background-color: #6F9;
}
