#videos
{
    clear: both;
    width: 820px;
    margin-right: auto;
    margin-left: auto;
}

#videos tr td
{
    width: 25%;
    text-align: center;
    vertical-align: top;
    font-style: italic;
    font-size: 14px;
    height: 150px;
    line-height: 1.2em;
    padding-bottom: 10px;
}

#videos tr td img
{
    margin-bottom: 4px;
}
