@charset "utf-8";
h3 
{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 35px;
    margin-left: 0px;
    text-decoration: underline;
}

.pictures
{
    float: right;
    width: 320px;
    margin-right: 30px;
    margin-left: 20px;
    font-size: 12px;
    font-style: italic;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 15px;
}

hr
{
    clear: both;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
