.payment
{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    color: #006600;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}
.results_one
{
    margin-bottom: 10px;
    margin-left: 120px;
    width: 40%;
}
.pictures
{
    float: right;
    width: 320px;
    margin-right: 60px;
    margin-left: 20px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.photo_2016_winners {
 float: right;
 margin-right: 100px;
}

.photo_2017_winners {
 float: right;
 margin-right: 100px;
}

.picture_2018
{
    float: right;
    width: 400px;
    margin-right: 30px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.res2
{
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px;
font-size: 14px;
border: 1px;
}

.res2 tr td
{
text-align: center;

}

.res2 tr th
{
text-align: center;
font-size: 16px;
font-weight: bold;
}

