@charset "utf-8";

.payment
{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    color: #006600;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.payment table tr td
{
    text-align: center;
}

.extra_2014
{
    float: right;
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    width: 350px;
    padding-left: 0px;
    font-size: 12px;
    font-style: italic;
}

.extra_2015
{
    float: right;
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    width: 350px;
    padding-left: 0px;
    font-size: 12px;
    font-style: italic;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.extra_2016
{
    float: right;
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    width: 350px;
    padding-left: 0px;
    font-size: 12px;
    font-style: italic;
    line-height: 1.2em;
    margin-bottom: 10px;
}


.align_left
{
    text-align: left;
}

.align_right
{
    text-align: right;
}

#historical
{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 100px;
    width: 70%;
}

#historical tr td
{
    vertical-align: top;
    line-height: 1.2em;
}
p.hist_intro
{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 40px;
    line-height: 1.2em;
}


#historical tr td.hist_year
{
    vertical-align: top;
    font-size: 28px;
    line-height: 1.8em;
    padding-right: 15px;
}

#historical tr td.hist_rank
{
    vertical-align: top;
    padding-right: 30px;
    padding-left: 10px;
    text-align: center;
}

#historical tr td.hist_names
{
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.res2
{
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
border: 1px;
}

.res2 tr td
{
text-align: center;
width: 15%;

}

.res2 tr th
{
text-align: center;
font-size: 16px;
font-weight: bold;
width: 5%;
}

