body {
	background-color: rgb(175, 208, 223);
}
.sf_extra1 {
	height: 7px; background-image: url("images/top_left_bkgd_1.jpg"); background-repeat: no-repeat; background-color: rgb(81, 140, 170);
}
.sf_extra1 span {
	background-position: right top; width: 7px; height: 7px; float: right; background-image: url("images/top_right_bkgd_1.jpg"); background-repeat: no-repeat; background-color: rgb(255, 255, 255);
}
.sf_outer_wrapper {
	background-image: url("images/middle_left_bkgd_1.jpg"); background-repeat: repeat-y; background-color: rgb(255, 255, 255);
}
.sf_wrapper {
	background-position: right top; background-image: url("images/middle_right_bkgd_1.jpg"); background-repeat: repeat-y; background-color: rgb(255, 255, 255);
}
.sf_extra9 {
	background-position: left bottom; height: 7px; font-size: 1px; background-image: url("images/bottom_left_bkgd_1.jpg"); background-repeat: no-repeat; background-color: rgb(4, 34, 72);
}
.sf_extra9 span {
	background-position: right top; width: 7px; height: 7px; float: right; background-image: url("images/bottom_right_bkgd_1.jpg"); background-repeat: no-repeat; background-color: rgb(4, 34, 72);
}
.sf_header_wrapper {
	background-position: left bottom; background-image: url("images/header_bkgd_1.jpg"); background-repeat: repeat-x; background-color: rgb(238, 238, 238);
}
.sf_main_header {
	color: rgb(255, 255, 255);
}
.sf_sub_header {
	color: rgb(175, 208, 223);
}
.sf_extra3 {
	background-position: right bottom; background-image: url("images/header_endcap_1.jpg"); background-repeat: no-repeat;
}
.sf_extra4 {
	background-image: url("images/banner_image_1.jpg"); background-repeat: no-repeat; background-color: rgb(4, 34, 72);
}
.sf_extra5 {
	background-image: url("images/banner_bands_1.jpg"); background-repeat: repeat-x; background-color: rgb(4, 34, 72);
}
.sf_navigation {
	
}
.sf_navigation ul li {
	border-bottom-color: white; border-bottom-width: 1px; border-bottom-style: dotted;
}
.sf_navigation ul li a {
	background-position: 0px 55%; color: rgb(255, 255, 255); background-image: url("images/nav_arrow_1.jpg"); background-repeat: no-repeat;
}
.sf_navigation ul li a:hover {
	background-position: 0px 55%; color: rgb(231, 179, 197); background-image: url("images/nav_arrow_alt_1.jpg"); background-repeat: no-repeat;
}
.sf_navigation ul li a:visited {
	color: rgb(231, 179, 197);
}
#Nav1 li ul {
	background-color: rgb(58, 108, 141);
}
#Nav1 li ul li a {
	background-color: rgb(58, 108, 141);
}
#Nav1 li ul li a:hover {
	background-color: rgb(97, 169, 209);
}
.sf_pagetitle {
	color: rgb(81, 28, 46); background-color: rgb(255, 255, 255);
}
.sf_content {
	
}
.sf_footer {
	clear: both;
}
.sf_banner {
	
}
.Data_Central_color1 {
	color: rgb(255, 255, 255); background-color: rgb(60, 113, 145);
}
.Data_Central_color2 {
	color: rgb(0, 0, 0); background-color: rgb(159, 159, 159);
}
.Data_Central_color3 {
	color: rgb(0, 0, 0); background-color: rgb(207, 207, 207);
}
.Data_Central_color4 {
	color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
.Data_Central_color5 {
	border-color: rgb(255, 255, 255);
}
.Data_Central_color6 {
	color: rgb(0, 0, 0); background-color: rgb(239, 239, 239);
}
.Data_Central_color7 {
	color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
