.sf_main_header {
	color: rgb(255, 255, 255);
}
.sf_sub_header {
	color: rgb(255, 255, 255);
}
.sf_pagetitle {
	color: rgb(81, 28, 46);
}
.sf_footer {
	color: rgb(71, 65, 65);
}
body {
	background-color: rgb(131, 179, 89);
}
.sf_extra4 {
	background-image: url("images/bg_w85g.jpg");
}
.sf_header_wrapper {
	background-image: url("images/bg_6pcm.jpg");
}
.sf_extra3 {
	background-image: url("images/bg_q291.jpg");
}
.sf_navigation ul li a {
	color: rgb(255, 255, 255);
}
.sf_navigation ul li a:visited {
	color: rgb(255, 255, 255);
}
.sf_navigation ul li a:hover {
	color: rgb(245, 206, 11);
}
a {
	color: rgb(0, 0, 0);
}
a:link {
	color: rgb(0, 0, 0);
}
body#page_c315ce66-ec9f-4b97-9b20-0cc3ffdb16e6 div#content1 {
	width: 95.1%;
}
body#page_668a2d2d-1478-4999-89c1-a0ef90f1f595 div#content1 {
	width: 95.1%;
}
body#page_282c73f7-7826-48a2-9d00-5b05553fb606 div#content3 {
	width: 45.1%;
}
body#page_5991114f-0257-4147-b25a-0914604777fc div#content1 {
	width: 93.47%;
}
body#page_5991114f-0257-4147-b25a-0914604777fc div#content3 {
	width: 95.51%;
}
body#page_fa8a278b-bb5a-4fa5-a262-c8a697a3dbfd div#content1 {
	width: 95.51%;
}
body#page_fa8a278b-bb5a-4fa5-a262-c8a697a3dbfd div#content2 {
	width: 95.51%;
}
body#page_4b3f5573-3ac1-4b33-85f0-c38be0285a21 div#content1 {
	width: 94.9%;
}
body#page_282c73f7-7826-48a2-9d00-5b05553fb606 div#content1 {
	width: 94.9%;
}
body#page_e5bc5b84-4afc-45c8-a7b3-7bf3687c3f78 div#content1 {
	width: 95.1%;
}
body#page_d5237561-25fb-45d0-b836-6ca4077df1bd div#content1 {
	width: 95.1%;
}
body#page_211f1eea-e166-4db2-b074-1a41b3b3d5ae div#content1 {
	width: 95.51%;
}
body#page_211f1eea-e166-4db2-b074-1a41b3b3d5ae div#undefined {
	
}
body#page_fa8a278b-bb5a-4fa5-a262-c8a697a3dbfd div#undefined {
	
}
body#page_f72c4bed-31fc-45ff-a80a-be7a707c94fd div#content1 {
	width: 94.9%;
}
body#page_f72c4bed-31fc-45ff-a80a-be7a707c94fd div#undefined {
	
}
body#page_bce25669-91e1-4e0c-8e4b-8395430820fd div#content1 {
	width: 95.1%;
}
body#page_fbcb02e8-27fc-42b3-8ad1-545a356be616 div#content1 {
	width: 95.1%;
}
body#page_eca0bcf1-5450-410d-b426-d261ae952f7c div#content1 {
	width: 95.1%;
}
body#page_e0ede481-d336-4902-8175-56a89d6bac5d div#content1 {
	width: 94.9%;
}
body#page_8549320c-5496-409a-9d1a-51254e3a83f8 div#content1 {
	width: 95.1%;
}
body#page_3ec3ab32-0d7a-4345-b870-7df9f7612a42 div#content1 {
	width: 95.1%;
}
body#page_a9e25529-e53d-4f62-923d-65c9e3560b3f div#content1 {
	width: 94.9%;
}
body#page_02e24c99-4948-434c-ae38-87bd0be42e90 div#content1 {
	width: 95.05%;
}
body#page_04bfb3c1-8386-4d48-95c7-ec20ecdc1cf0 div#content1 {
	width: 95.05%;
}
body#page_282c73f7-7826-48a2-9d00-5b05553fb606 div#content2 {
	width: 43.1%;
}
body#page_a61b69ba-5111-45ab-8da2-8165749354a0 div#layoutcontainer {
	width: 95.92%;
}
body#page_9f0a3153-b61d-4334-b41e-53d1e0783926 div#content1 {
	width: 94.9%;
}
body#page_df3799ba-d5f7-4fa6-a13a-c9722026e2ad div#content1 {
	width: 94.9%;
}
body#page_c167894f-bc09-4d53-9325-7a981505aaa3 div#content1 {
	width: 95.1%;
}
body#page_94983fdb-5dba-4a91-8b8f-6dc6d20f6a42 div#content1 {
	width: 95.1%;
}
body#page_ee342d70-a8e9-4fa9-80e1-9d10b88c6560 div#content1 {
	width: 95.1%;
}
body#page_82c2157c-2299-430d-87a4-394432b2af2a div#content1 {
	width: 95.1%;
}
