@charset "utf-8";
/* CSS Document */


.results_trips_two_classes tr td h5
{
    font-size: 18px;
    font-weight: bold;
    color: #03F;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
