@charset "utf-8";

.photos_2017 {
width: 440px;
float: right;
margin-right: 30px;
font-size: 12px;
text-align: center;
}

.photos_2018 {
width: 440px;
float: right;
margin-right: 30px;
font-size: 12px;
text-align: center;
}

.photos_2019 {
width: 440px;
float: right;
margin-right: 30px;
font-size: 12px;
text-align: center;
}

.res2
{
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px;
font-size: 14px;
border: 1px;
}

.res2 tr td
{
text-align: center;
width: 20%;

}

.res2 tr th
{
text-align: center;
font-size: 16px;
font-weight: bold;
width: 5%;
}
