#history
{
    width: 450px;
    margin-left: 150px;
    margin-bottom: 300px;
    margin-top: 30px;
}
#history tr td 
{
    text-align: center;
    height: 8px;
    font-size: 14px;
}
#history tr th
{
    text-align: center;
    font-size: 24px;
}


#history tr td.hist_year
{
    font-weight: bold;
    padding-right: 10px;
}
#history tr td.hist_rank
{
    font-weight: bold;
    padding-right: 10px;
}
.payment
{
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	color: #006600;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
}
.image_box
{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    width: 266px;
    margin-right: 80px;
    float: right;
}

#winners
{
    clear: both;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#winners tr th
{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 6px;
}
#winners tr th.st_title
{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 6px;
    font-size: 24px;
}


#winners tr td
{
    text-align: center;
    vertical-align: middle;
    padding-bottom: 6px;
}

#winners tr td.st_r
{
    text-align: right;
    vertical-align: middle;
    padding-left: 5px;
}

#winners tr td.st_l
{
    text-align: left;
    vertical-align: middle;
    padding-left: 2px;
}

.res2
{
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px;
font-size: 14px;
border: 1px;
}

.res2 tr td
{
text-align: center;
width: 23%;

}

.res2 tr td.st_r
{
    text-align: right;
    vertical-align: middle;
    padding-left: 5px;
}

.res2 tr td.st_l
{
    text-align: left;
    vertical-align: middle;
    padding-left: 2px;
}

.res2 tr th
{
text-align: center;
font-size: 16px;
font-weight: bold;
width: 5%;
}

